.footer{
    display: flex;
    background-color: rgb(129, 164, 129);
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    min-width: 100vh;
    margin-top: 15px;
    padding: 15px;
}

.footer ul{
    display: flex;
    list-style: none;
    width: 800px;
    justify-content: space-evenly;      
}
