.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: color-ppal; 
    flex-wrap: wrap;
    min-height: 20vh;
    min-width: 100vh;
    a img{
        width: 140px;        
    }
    a img:hover{
        transform: scale(1.1);
        transition: 0.5s;
    }
    h1{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav ul{
        display: flex;
        list-style: none;
        width: 800px;
        justify-content: space-evenly;
        a{
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    }
        
}

