.main-quienes-somos{
    background-image: url(../recursos/foto-quienes-somos.webp);
    min-height: 70vh;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin: 10px;
    padding: 10px;
   /*AGREGADO*/
    max-width: 2000px;
    margin: 0 0 0 350px;
    justify-items: center;
    align-items: center;
    align-content: center;
}
   